@import "../../../global.scss";

.objectives {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;

    @include mobile {
        justify-content: space-around;
    }

    .inicio {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        margin-top: 40px;

        @include mobile {
            height: 10%;
        }

        h1 {
            padding-bottom: 2rem;
            text-align: center;
            color: $mainColor;
        }

        text {
            text-align: center;
            padding: 1rem;
            text-align: justify;
            font-size: 1.2em;
            padding: 0 5rem;

            @include mobile {
                display: none;
            }
        }

        .typography {
            text-align: center;
                padding: 1rem;
                text-align: justify;
                font-size: 1.2em;
                padding: 0 5rem;
        }
    }

    img {
        margin-top: 30px;
        margin-left: 25%;
        width: 50%;
        height: 50%;
    }

    #textCode {
        margin-top: 100px;
    }

    .tituloCodigo {
        margin-top: 50px;
    }

}